In [1]:
#dataframes are pyton tables
#we look at tabular data as pandas in python

In [2]:
import pandas as pd

child_identifiers = pd.read_csv(r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv")
child_characteristics = pd.read_csv(r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv")

In [3]:
child_identifiers.info()
# child_characteristics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 23.5+ KB

In [4]:
import pandas as pd
#we refer to pandas as pd - globablly accepted alias
#you can access files from your compluter
import os
#with file path format below
#fp="enter filepath here"

ci_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"
cc_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv"

#to read them in 
#name it 'identifiers and the function toget the file path, can add further arguements too
identifiers = pd.read_csv(ci_filepath)

#for charatristics
characteristics = pd.read_csv(cc_filepath)

In [5]:
#.info()

identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 23.5+ KB

In [6]:
#.info()
characteristics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  332 non-null    int64
 1   LAchildID   332 non-null    object
 2   Ethnicity   332 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.9+ KB

In [7]:
#.head()
identifiers.head()

#new column - choose existing and rename 
# e.g. below converts to datetime too - google strftime
identifiers ['PersonBirthDate_dt'] = pd.to_datetime(identifiers['PersonBirthDate'],format="%Y-%m-%d")

identifiers

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_dt
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25
...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,2010-07-07
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2018-08-14
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,2021-12-09
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,2013-07-23
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,2021-10-25

In [8]:
# exercise - make EXPECTED date as datetime
identifiers ['PersonExpectedBirthDate_dt'] = pd.to_datetime(identifiers['ExpectedPersonBirthDate'],format="%Y-%m-%d")

identifiers

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_dt,PersonExpectedBirthDate_dt
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06,NaT
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27,NaT
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06,2019-12-06
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03,NaT
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25,NaT
...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,2010-07-07,NaT
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2018-08-14,NaT
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,2021-12-09,NaT
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,2013-07-23,NaT
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,2021-10-25,NaT

In [9]:
#errors
identifiers ['PersonDeathDate_dt'] = pd.to_datetime(identifiers['PersonDeathDate'],format="%Y-%m-%d", errors='coerce')

identifiers

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_dt,PersonExpectedBirthDate_dt,PersonDeathDate_dt
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06,NaT,NaT
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27,NaT,NaT
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06,2019-12-06,NaT
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03,NaT,NaT
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,2010-07-07,NaT,NaT
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2018-08-14,NaT,NaT
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,2021-12-09,NaT,NaT
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,2013-07-23,NaT,NaT
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,2021-10-25,NaT,NaT

In [10]:
#example for above from course
# .info()

# .head()
identifiers.head()

# strftime
identifiers['PersonBirthDate_dt'] = pd.to_datetime(identifiers['PersonBirthDate'], format="%Y-%m-%d")

identifiers['ExpectedPersonBirthDate_dt'] = pd.to_datetime(identifiers['PersonBirthDate'], format="%Y-%m-%d")

identifiers['PersonDeathDate_dt'] = pd.to_datetime(identifiers['PersonDeathDate'], format="%Y-%m-%d", errors='coerce')

identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  332 non-null    int64
 1   LAchildID                   332 non-null    object
 2   UPN                         332 non-null    object
 3   FormerUPN                   0 non-null      float64
 4   UPNunknown                  0 non-null      float64
 5   PersonBirthDate             332 non-null    object
 6   ExpectedPersonBirthDate     7 non-null      object
 7   GenderCurrent               332 non-null    int64
 8   PersonDeathDate             21 non-null     object
 9   PersonBirthDate_dt          332 non-null    datetime64[ns]
 10  PersonExpectedBirthDate_dt  7 non-null      datetime64[ns]
 11  PersonDeathDate_dt          20 non-null     datetime64[ns]
 12  ExpectedPersonBirthDate_dt  332 non-null    datetime64[ns]
dtypes: datetime64[ns](4), float64(2), int64(2), object(5)
memory usage: 33.8+ KB

In [11]:
#dictionary of lists - curly brackets
# dictionary of lists
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                           'Age at first contact':[6, 12, 11, 1, 19],
                           'SEX':['M', 'm', 'F', '', 'F'],
                           'Birthday':['01/01/2002', '02/02/2003', '01/01/2000', '03/03/2023', '06/01/2012'],
                           'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

# list of dictionaries
nhs_numbers = pd.DataFrame([{'ChildId':'id1',
                             'NHS Number':'303'},
                             {'ChildId':'id2',
                              'NHS Number':'3u5029'},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},])

nhs_numbers

  ChildId NHS Number
0     id1        303
1     id2     3u5029
2     id3       gqw3
3     id4     avsgvb
4     id5     varwvw

In [12]:
#actual numbr of years someone has been alive
#ned to import part of a package called dateutil

from dateutil.relativedelta import relativedelta

child_info['Birthday_dt'] = pd.to_datetime(child_info['Birthday'], dayfirst=True)

# relativedelta(pd.to_datetime("today"), row)

#to give age in years writing your own lamda function
child_info['Age'] = child_info['Birthday_dt'].apply(lambda row: relativedelta(pd.to_datetime("today"), row).years)

child_info

child_info

  ChildId  Age at first contact SEX    Birthday CP Plan? Birthday_dt  Age
0     id1                     6   M  01/01/2002        Y  2002-01-01   23
1     id2                    12   m  02/02/2003        n  2003-02-02   22
2     id3                    11   F  01/01/2000        N  2000-01-01   25
3     id4                     1      03/03/2023       No  2023-03-03    2
4     id5                    19   F  06/01/2012      yES  2012-01-06   13

In [13]:
#to add age to identifiers using birthday writing your own lamda function

identifiers['Age'] = identifiers['PersonBirthDate_dt'].apply(lambda row: relativedelta(pd.to_datetime("today"), row).years)

identifiers

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_dt,PersonExpectedBirthDate_dt,PersonDeathDate_dt,ExpectedPersonBirthDate_dt,Age
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06,NaT,NaT,2019-12-06,5
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27,NaT,NaT,2011-04-27,14
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06,2019-12-06,NaT,2017-06-06,8
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03,NaT,NaT,2014-10-03,11
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25,NaT,NaT,2019-09-25,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,2010-07-07,NaT,NaT,2010-07-07,15
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2018-08-14,NaT,NaT,2018-08-14,7
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,2021-12-09,NaT,NaT,2021-12-09,3
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,2013-07-23,NaT,NaT,2013-07-23,12
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,2021-10-25,NaT,NaT,2021-10-25,4

In [14]:
#reading in an excel
#don't always have one sheet

import openpyxl #to let us open excel along with installing in terminal now

filepath = r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx"

#df = pd.read_excel(filepath)#only read first sheet

#df = pd.read_excel(filepath, sheet_name='Child extras')#reads specified sheet

df_dict = pd.read_excel(filepath, sheet_name=None)# reads all sheets


df

NameError: name 'df' is not defined

In [ ]:
#simple joins (merging)

print(child_info.columns)
print(nhs_numbers.columns)

child_info = pd.merge(child_info, nhs_numbers, left_on='ChildId', right_on= 'ChildId'  how='left')

child_info

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3205378789.py, line 6)

In [15]:
#join where columns have same name
# identifiers = identifiers.merge(characteristics, on='LAchildID', how='left', suffixes=['_ident', '_char'])

identifiers = identifiers.merge(characteristics, on=['LAchildID', 'Unnamed: 0'], how='left')

identifiers

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_dt,PersonExpectedBirthDate_dt,PersonDeathDate_dt,ExpectedPersonBirthDate_dt,Age,Ethnicity
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06,NaT,NaT,2019-12-06,5,WIRT
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27,NaT,NaT,2011-04-27,14,WROM
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06,2019-12-06,NaT,2017-06-06,8,AOTH
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03,NaT,NaT,2014-10-03,11,MWBC
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25,NaT,NaT,2019-09-25,6,APKN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,2010-07-07,NaT,NaT,2010-07-07,15,WOTH
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2018-08-14,NaT,NaT,2018-08-14,7,WROM
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,2021-12-09,NaT,NaT,2021-12-09,3,BCRB
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,2013-07-23,NaT,NaT,2013-07-23,12,AIND
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,2021-10-25,NaT,NaT,2021-10-25,4,WBRI

In [16]:
df_dict.keys()
 
df = df_dict['Child Data'].merge(df_dict['Child extras'], on='ChildID', how='left')
df = df.merge(df_dict['Sheet3'], on='Assessment Code', how='left')
 
df

  ChildID Sex        DOB EHCP issued  Assessment Code Assessment Outcome
0     id1   M 2014-12-05           N                1                  Y
1     id6   m 2016-01-06           n                5                  y
2     id4   m 2013-11-09           Y                3                  N
3     id3   F 2022-12-24           Y                4                  n
4     id5   F 2020-01-15         NaN                2                  N
5     id7   f 2022-09-17           y                6                  N

In [ ]:
> # greater than
< # less than
== # equals

~ # not
>=/<= # greater equals/less equals 
!= # does not equal

#for concatenating
& # and
| # or

# .isna() / .notna()
#in lists  .isin()
#contains substring .str.contains()