In [ ]:
num_1 = 7

num_2 = 10

answer = num_1 + num_2

answer_str = str(answer)

# '' and "" for text - use "" where ' exists in the data, use '' when it doesn't or there's "" in the data

#int, integer
#str, string
#float
# * times
# / divide
# = plus
# - minus

#to check variable

type(answer_str)

#can change to str, int etc by prefixing eg below

answer_str = str(answer)

#pi x radius squared

str

In [12]:
#In the cell, initialise two numeric variable and their product

num_1 = 8

num_2 = 6

#using the * operator for the multiplecation and assign this to a variable

answer = num_1 * num_2

# print the variable

answer

48

In [ ]:
#the raduis of a circle is 2, assume that pi is 3.14 assign both of these to suitably named variables

r = 2

pi = 3.14

# find the area of the circle
#we can find the area of the crcle by finding the product of pi with the raduis squared
#google answers where necessary
#squared is **2 cubed is **3
#pi * radius squared

area = pi * r ** 2

#can use parentheses e.g. area = pi * (r ** 2)

area

12.56

In [28]:
#strings
name = "Ali"
job = "Performance Analyst"

#instead of name_job = name + " " + job use below
#name_job = f"{name}, {job}"
#or use the below
name_job = f"Hi my name is {name}, and I'm a {job}"


name_job

"Hi my name is Ali, and I'm a Performance Analyst"

In [ ]:
#strings phases
#iterable
#iterate over
#things that has parts that can be accessed one at a time
#rows
#columns
#lists of data

#counting in python starts at 0
#[start : stop]
#start is inclusive
#stop is exclusive

phrase = name_job

#starting at 2 is space (remember starts at 0) ending on m (end is exclusive)
phrase[2:5]


#to start from the right use a m miunus

phrase[-5:-2]

'aly'

In [ ]:
#an other e.g.
filename = "ssda903_list_1.csv"

short_fn = filename[8:-4]

short_fn

'list_1'